.header {
    display:flex;
    justify-content: space-between;
    border: solid 1px #ccc;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-top: 15px;
    padding-right: 10px;
}

.nav-items > ul > li {
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.restaurant-card {
    border: solid 1px #ccc;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
}

.restaurant-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.restaurant-image {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.restaurant-rating {
    background-color: #48c479;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

.restaurant-name {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.restaurant-cuisines {
    color: #555;
    padding-bottom: 10px;
}